.h1{
    font-family: "Comic Sans MS";
    background-image: url("http://wallpapercave.com/wp/pFtzuPn.jpg");
    background-size: cover;
    color: white;
    font-size: larger;

}
.main1{

    margin-top: 60px;
}
.main2{
    margin-left: 150px;
}
.main3{
    margin-left: 200px;
   margin-top: -55px;
    margin-right: 145px;

}
.m1{
    margin-top: -15px;
}
.m2{
    margin-top: -15px;
}
.m3{
    margin-top: -15px;
}
.m4{
    margin-top: -15px;
}
.m5{
    margin-top: -15px;
}
.m6{
    margin-top: -5px;
    margin-left: -80px;
    margin-right: 270px;

}
.a1{

}
.text1{
    color: #000;
    margin-bottom: 10px;
    margin-right: 200px;
    height: 40px;
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    line-height: 18px;
    font-size: 18px;
}

.button {
    background-color:#F1948A ;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 0px solid #a1a1a1;
    border-radius:50px;
    width: 200px;
    font-weight: bold;

}

h1{
    margin-right: 200px;
}
h2{
    margin-right: 200px;
}